<% include ./partials/header %> 
    <div class="jumbotron">
        <h1>Hospital Management</h1>
    </div>
    <a href="/opd/" class="btn btn-primary">OPD department</a>

<% include ./partials/footer %>