<% include ../partials/header %>
<div class="jumbotron">
    <h1 class="display-4">OPD</h1>
    <hr class='my-4'>
    <p class = "lead">This is the Outpatient Department. Here all the patients that came today will be displayed along with available doctors and more information</p>
</div>
<a href="/opd/new" class="btn btn-primary">Register a patient</a>
<a href="#" class="btn btn-success">Show registered patients</a>

<% include ../partials/footer %>